$white: #ffffff;
$blue: #76c7c0;
$grey: #777777;
$blue-1: #62bdbd;
$dark: #3f4646;
$blue-2: #62b9b0;
$grey-2: #7f8c8c;
$light-grey-3: #e1e2e2;
$light-grey-5: #f3f3f3;
$dark-blue: #1f4b4b;
$light-grey-2: #e5e6e6;
$light-grey: #f8f8f8;
$Burgundy-2: #e1524b;
$red: #d93600;
$red-2: #e8645a;
$burgundy: #e2534b;
$light-grey-4: #ececec;
$grey-3: #b0b8b9;


