<section class="advantages">
    <div class="container">
        <div class="row advantages-header">
            <div class="col">
                <h2 class="advantages-title">Why Modus versus?</h2>
                <p class="advantages-description">Capacitance cascading integer reflective interface data development
                    high bus cache dithering transponder. </p>
            </div>
        </div>
        <div class="row advantages-images-block">
            <div class="col-lg">
                <img src="img/advantages/adv-1.png" alt="image" class="advantages-img secondary-image">
            </div>
            <div class="col-lg">
                <img src="img/advantages/adv-2.png" alt="image" class="advantages-img top-image">
            </div>
            <div class="col-lg">
                <img src="img/advantages/adv-1.png" alt="image" class="advantages-img secondary-image">
            </div>
        </div>
        <div class="advantages-footer">
            <div class="row">
                <div class="col-lg-3 left-column">
                    <p class="column-title">Why Choose Us ?</p>
                    <ul class="clients-list">
                        <li class="clients-item">Quisque at massa ipsum</li>
                        <li class="clients-item">Maecenas a lorem augue, egestas</li>
                        <li class="clients-item">Cras vitae felis at lacus eleifend</li>
                        <li class="clients-item">Etiam auctor diam pellentesque</li>
                        <li class="clients-item">Nulla ac massa at dolor</li>
                        <li class="clients-item">Condimentum eleifend vitae vitae </li>
                    </ul>
                </div>
                <div class="col-lg-6 center-column">
                    <div class="skills-description-block">
                        <p class="skills-description">Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam
                            auctor diam pellentesque lectus <span class="highlighted-text">vehicula mattis.</span> Nulla ac massa at dolor
                            condimentum eleifend vitae vitae urna.</p>
                    </div>
                    <div class="row skills-graph">
                        <div class="col">
                            <img src="img/advantages/skills-1.png" alt="Skill one" class="graph-item">
                            <p class="graph-title">Suspendisse</p>
                        </div>
                        <div class="col">
                            <img src="img/advantages/skills-2.png" alt="Skill one" class="graph-item">
                            <p class="graph-title">Maecenas</p>
                        </div>
                        <div class="col">
                            <img src="img/advantages/skills-3.png" alt="Skill one" class="graph-item">
                            <p class="graph-title">Aliquam</p>
                        </div>
                        <div class="col">
                            <img src="img/advantages/skills-4.png" alt="Skill one" class="graph-item">
                            <p class="graph-title">Habitasse</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 feedback-column">
                    <p class="column-title">What Client’s Say ?</p>
                    <p class="feedback-text"><span class="italic-style">Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam auctor diam
                        pellentesque lectus vehicula mattis.</span> Nulla ac massa at dolor condimentum</p>
                        <span class="feedback-author">Jhon Doe</span>
                </div>
            </div>
        </div>
    </div>
</section>