<section class="clients-slider">
    <div class="container">
        <div class="row clients-slider-header">
            <div class="col">
                <h2 class="column-title clients-title">Our Happy Clients</h2>
            </div>
            <div class="col-9 line">
            </div>
            <div class="col-1 slider-buttons">
                <a class="carousel-control-prev arrow-prew controls" href="#clients-slider" role="button"
                    data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next arrow-next controls" href="#clients-slider" role="button"
                    data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div id="clients-slider" class="carousel slide clients-carousel" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active clients-carousel-item">
                    <div class="row">
                        <div class="col-sm item-logo">
                            <img class="d-block slide-img" src="img/clients-slider/jquery.png" alt="1 slide">
                        </div>
                        <div class="col-sm item-logo">
                            <img class="d-block slide-img" src="img/clients-slider/jquery.png" alt="2 slide">
                        </div>
                        <div class="col-sm item-logo">
                            <img class="d-block slide-img" src="img/clients-slider/jquery.png" alt="3 slide">
                        </div>
                        <div class="col-sm item-logo">
                            <img class="d-block slide-img" src="img/clients-slider/jquery.png" alt="4 slide">
                        </div>
                        <div class="col-sm item-logo">
                            <img class="d-block slide-img" src="img/clients-slider/jquery.png" alt="5 slide">
                        </div>
                        <div class="col-sm item-logo">
                            <img class="d-block slide-img" src="img/clients-slider/jquery.png" alt="6 slide">
                        </div>
                    </div>
                </div>
                <div class="carousel-item clients-carousel-item">
                    <div class="row">
                        <div class="col-sm item-logo">
                            <img class="d-block slide-img" src="img/clients-slider/jquery.png" alt="1 slide">
                        </div>
                        <div class="col-sm item-logo">
                            <img class="d-block slide-img" src="img/clients-slider/jquery.png" alt="2 slide">
                        </div>
                        <div class="col-sm item-logo">
                            <img class="d-block slide-img" src="img/clients-slider/jquery.png" alt="3 slide">
                        </div>
                        <div class="col-sm item-logo">
                            <img class="d-block slide-img" src="img/clients-slider/jquery.png" alt="4 slide">
                        </div>
                        <div class="col-sm item-logo">
                            <img class="d-block slide-img" src="img/clients-slider/jquery.png" alt="5 slide">
                        </div>
                        <div class="col-sm item-logo">
                            <img class="d-block slide-img" src="img/clients-slider/jquery.png" alt="6 slide">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>