<section class="srvices">
    <div class="container">
        <div class="services-top">
            <div class=" row">
                <div class="col-lg-9 services-text-block">

                    <h2 class="services-title">
                        Some of our top services
                    </h2>
                    <p class="services-description">
                        Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue rutrum condimentum,
                        libero lectus mattis orci, ut commodo.
                    </p>
                </div>
                <div class="col-lg-3 services-button d-flex align-items-center justify-content-center">
                    <a href="#" class="services-link">View more</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row d-flex justify-content-between services-card-block">
                <div class=" col-lg col-md-5 services-card">
                    <h3 class="card-title">Suspendisse</h3>
                    <p class="card-description">
                        Quisque id tellus quis risus vehicula vehicula ut turpis. In eros nulla, placerat vitae at,
                        vehicula
                        ut nunc.
                    </p>
                    <a href="#" class="card-button">read more</a>
                    <i class="card-ico fa fa-thumbs-o-up fa-5x"></i>
                </div>
                <div class=" col-lg col-md-5 services-card">
                    <h3 class="card-title">Maecenas</h3>
                    <p class="card-description">
                        Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.
                    </p>
                    <a href="#" class="card-button">read more</a>
                    <i class="card-ico fa fa-key fa-5x"></i>
                </div>
                <div class="col-lg col-md-5 services-card">
                    <h3 class="card-title">Aliquam</h3>
                    <p class="card-description">
                        Vivamus eget ante bibendum arcu vehicula ultricies. Integer venenatis mattis nisl, vitae pulvinar dui tempor non. 
                    </p>
                    <a href="#" class="card-button">read more</a>
                    <i class="card-ico fa fa-flag fa-5x"></i>
                </div>
                <div class="col-lg col-md-5 services-card">
                    <h3 class="card-title">Habitasse</h3>
                    <p class="card-description">
                        Astehicula ultricies. Integer venenatis mattis nisl, vitae pulvinar dui tempor non. 
                    </p>
                    <a href="#" class="card-button">read more</a>
                    <i class="card-ico fa fa-flask fa-5x"></i>
                </div>
            </div>
        </div>
    </div>
</section>